$margin: 15px;
$padding: 30px;

$content-width: 960px;

$color-primary: #333333;
$color-primary:#422559;
$color-primary-dark: #282828;
$color-primary-dark: #300751;
$color-accent: #FF3333;

$family_arimo: 'Arimo';
$family_noto: 'Noto Serif';
$family_open_sans: 'Open Sans';

$font-weight: 400;
$font-weight-bold: 700;