@import "~styles/constants";


.progress {
    display: block;
    height: 15px;
    width: 100%;
    max-width: 600px;
    margin: 5px 0;
    position: relative;
    background: #ebebeb;
}

.progress__status {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $color-primary;
}