@import "~styles/constants";
@import "~styles/fonts";

body {
    margin: 0!important;
    padding: 0;
    font-weight: $font-weight;
    font-family: $family-open-sans;
    background: #f5f6fc;

}

input, button, textarea {
    font-family: $family-open-sans;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

#container {
    padding: 0;
    // width: 100vw;
    box-sizing: border-box;

    @media (min-width: 768px) {
        padding: 55px 0 0 0;
    }
    box-sizing: border-box;
}

#content {
    box-sizing: border-box;
    width: 100%;
    max-width: $content-width;
    margin: auto;
    padding: 0;

}

.filler {
    flex-grow: 1;
}
